name: Metrics
on:
  # Schedule daily updates
  schedule: [{cron: "0 0 * * *"}]
  # (optional) Run workflow manually
  workflow_dispatch:
  # (optional) Run on master/main push
  push: {branches: ["master", "main"]}
jobs:
  github-metrics:
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - uses: lowlighter/metrics@latest
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          
          # Options
          user: TMHSDigital
          template: classic
          base: header, activity, community, repositories
          config_timezone: America/New_York
          
          # IsoCalendar (3D contribution view)
          plugin_isocalendar: yes
          plugin_isocalendar_duration: half-year
          
          # Commit file generation
          filename: github-metrics.svg
